h1 {
  color: #FDD00C !important;
  letter-spacing: -1.0px;
  font-size: 48px;
  line-height: 56px;
}

.heropic{
  flex-shrink: 0;
  width: 100% !important;
  left: 30%;
}

.heropicdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.colPic{
  width: 70% !important;
}

.menu{
  background: rgba(255, 255, 255, 0.199) !important;
  color: black !important;
}

.logopic{
  height: 60px !important;
  width: 60px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}