.header1 {
    font-size: 70px;
}

.map {
    z-index: 0 !important;
    width: 100vw;

}
.mapcontrols {
    z-index: 2 !important;
}

.backbutton {
    position: absolute;
    top: 0px; 
    left: -40px !important;
}

