body  {
  /*font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; //Apple*/
  font-family:'PT Sans', 'sans-serif' !important;
}
h1 , h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Helvetica Neue", sans-serif !important;
  font-weight: 550 !important;
}

ol, ul {
  padding-left: 30px;
}
